<div [ngClass]="isCollapsed ? 'menu menu-collapsed' : 'menu'">
  @if (isCollapsed) {
  <div class="menu-button">
    <button (click)="showForm()">+</button>
  </div>
  }

  @if (isCollapsed) {
  <div class="menu-button">
    <button (click)="navigateToMain()">🏠︎</button>
  </div>
  }

  <form [formGroup]="myPokemonForm" (ngSubmit)="submit()">
    <div class="top-row">
      <div class="title">
        <span>Add My Pokemon</span>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Pokemon</mat-label>
        <mtx-select [items]="pokemonOptions" [required]="true"
          [formControl]="myPokemonForm.controls.pokemon"></mtx-select>
        <mat-error> Please provide valid Pokemon name! </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Pokemon LVL</mat-label>
        <mtx-select [required]="true" [formControl]="myPokemonForm.controls.cpm">
          @for (pokemonCpm of pokemonCpms; track myPokemonForm.controls.cpm) {
          <mtx-option [value]="pokemonCpm.value">
            {{ pokemonCpm.level }} LVL | <small>{{ pokemonCpm.value}} CPM</small>
          </mtx-option>
          }
        </mtx-select>
        <mat-error>Please provide valid Pokemon LVL!</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Attack IV</mat-label>
        <input matInput placeholder="Attack IV" id="atkIv" type="number" min="0" max="15"
          [formControl]="myPokemonForm.controls.atkIV" />
        @if (myPokemonForm.controls.atkIV.invalid) {
        <mat-error> Please provide valid attack IV value! </mat-error>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Defense IV</mat-label>
        <input matInput placeholder="Defense IV" id="defIv" type="number" min="0" max="15"
          [formControl]="myPokemonForm.controls.defIV" />
        @if (myPokemonForm.controls.defIV.invalid) {
        <mat-error> Please provide valid defense IV value! </mat-error>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>HP IV</mat-label>
        <input matInput placeholder="HP IV" id="hpIv" type="number" min="0" max="15"
          [formControl]="myPokemonForm.controls.hpIV" />
        @if (myPokemonForm.controls.hpIV.invalid) {
        <mat-error> Please provide valid HP IV value! </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-buttons">
      <button mat-flat-button type="submit">Add</button>
      <button class="mobile" mat-stroked-button type="button" (click)="collapseForm()">Close</button>
      <button class="desktop" mat-stroked-button type="button" (click)="navigateToMain()">Max Calculator</button>
    </div>
  </form>
</div>