@use '@angular/material' as mat;
@use "../../../../variables.scss" as *;

.results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.25rem;
}

.pokemon-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    padding: 0.5rem 0;
}

@media (max-width: 1199px) {
    .pokemon-cards {
        grid-template-columns: 1fr;
    }
}