<div
  class="pokemon-card"
  [ngClass]="{ 'single-type': !secondaryType, 'dual-type': !!secondaryType }"
  [ngStyle]="{
    '--primary-type-color': getTypeColor(primaryType),
    '--secondary-type-color': getTypeColor(secondaryType),
  }">
  <div class="header-inline">
    <img class="sprite" [src]="imageUrl" alt="sprite" />
    <div class="name">
      <span class="{{ myPokemonId ? 'my-pokemon' : '' }}">{{ name }}</span>
    </div>

    <div *ngIf="cpm" class="stats">
      <div class="stat-row">
        <div class="stat" title="Poziom">
          ⭐
          <strong>L{{ cpm | cpmToLevel }}</strong>
        </div>
        <!-- eslint-disable @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
        <div
          class="stat"
          matTooltip="IV: {{ atkIV }}/{{ defIV }}/{{ hpIV }}"
          matTooltipPosition="above"
          #tooltip="matTooltip"
          (click)="tooltip.toggle()">
          💎
          <strong
            ><u>{{ atkIV + defIV + hpIV | ivPercentage }}%</u></strong
          >
        </div>
        <!-- eslint-enable @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
      </div>
      <div class="stat-row">
        <div *ngIf="avgDamage" class="stat" title="Średnie obrażenia (bazowe + procentowe)">
          💥
          <strong>{{ avgDamage.toFixed(1) }} ({{ avgDamagePercentage.toFixed(1) }}%)</strong>
        </div>

        <div *ngIf="heal" class="stat" title="Leczenie (3x Max Heal)">
          🩹 <strong>{{ heal.toFixed(0) }}</strong>
        </div>

        <div
          *ngIf="unhealedDamagePercentage !== undefined"
          class="stat"
          title="Ile procentowo obrażeń nie będzie w stanie wyleczyć przeciwko wszystkim atakom bossa">
          🩸 <strong>{{ unhealedDamagePercentage.toFixed(2) }}</strong>
        </div>

        <div *ngIf="atk" class="stat atk" title="Atak fizyczny (ATK)">
          ⚔️ <strong>{{ atk.toFixed(0) }}</strong>
        </div>

        <div *ngIf="def" class="stat def" title="Obrona fizyczna (DEF)">
          🛡️ <strong>{{ def.toFixed(0) }}</strong>
        </div>

        <div *ngIf="hp" class="stat hp" title="Punkty życia (HP)">
          ❤️ <strong>{{ hp }}</strong>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="action" *ngIf="isMyPokemonActionsEnabled && myPokemonId">
        <button (click)="removeMyPokemon()" class="icon-button" title="Usuń swojego Pokemona">🗑️</button>
      </div>
      <div class="action" *ngIf="damageDetails && damageDetails.length !== 0">
        <button (click)="toggleDetails()" class="icon-button" title="Pokaż/ukryj szczegóły obrażeń">
          {{ showDetails ? '🚫' : '👁️' }}
        </button>
      </div>
    </div>
  </div>

  <div class="damage-section" *ngIf="showDetails">
    <div class="damage-list">
      <span class="damage-list-name">🛡️ Damage taken</span>
      <details *ngFor="let entry of damageDetails" class="damage-row">
        <summary class="damage-summary">
          <span class="col attack-name type-bg {{ entry.moveType.toLowerCase() }}">
            {{ entry.move }}
          </span>
          <span
            class="col damage-stats"
            [ngStyle]="{
              color: getDamagePercentageColor(entry.damagePercentage),
            }"
            >💥 {{ entry.damage.toFixed(0) }} (<strong>{{ entry.damagePercentage.toFixed(1) }}%</strong>)</span
          >
          <span class="col power"
            >💪 <strong>{{ entry.power }}</strong></span
          >
          <span class="col typeEffectiveness">🎯 {{ (entry.typeEffectiveness * 100).toFixed(1) }}% </span>
          <span class="col stab">🧬 {{ entry.stab }}</span>
        </summary>
      </details>
    </div>
    <div *ngIf="fastAttacks.length > 0" class="damage-list">
      <span class="damage-list-name">⚔️ Recommended fast attacks (0.5s)</span>

      <details *ngFor="let entry of fastAttacks" class="damage-row">
        <summary class="damage-summary">
          <span class="col attack-name type-bg {{ entry.moveType.toLowerCase() }}">
            {{ entry.move }} <span class="sup" *ngIf="entry.isElite">E</span>
          </span>
          <span class="col damage-stats"
            >💥 <strong>{{ entry.damage.toFixed(0) }} </strong></span
          >

          <span class="col power"
            >💪 <strong>{{ entry.power }}</strong></span
          >
          <span class="col typeEffectiveness">🎯 {{ (entry.typeEffectiveness * 100).toFixed(1) }}% </span>
          <span class="col stab">🧬 {{ entry.stab }}</span>
        </summary>
      </details>
    </div>
  </div>
</div>
