@media (min-width: 769px) {
  .main-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;

    .menu {
      width: 100%;
      max-width: 400px;
    }

    .results {
      width: 100%;
      max-width: 650px;
    }
  }
}
