@use '@angular/material' as mat;

html {
  color-scheme: light;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  @include mat.theme(
    (
      color: mat.$magenta-palette,
    )
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}
