@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  @include mat.theme((color: mat.$violet-palette,
    ));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}