name: Deploy to GitHub Pages
on:
  push:
    branches: [main]
jobs:
  tests:
    name: Playwright Tests
    uses: ./.github/workflows/playwright.yaml
  deploy:
    name: 'Deploy'
    runs-on: ubuntu-latest
    needs: tests
    # Run only if push was not from other workflow or the conlusion of the workflow was success
    if: ${{ github.event.workflow_run == null || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Clean install dependencies
        run: npm ci
      - name: Deploy to GH Pages
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          npm run deploy
        env:
          CI: true
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
