name: Update application data

on: workflow_dispatch

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'
      - name: Download data
        run: node ./scripts/dataDownload.js
        env:
          POKEMON_DATA_URL: ${{ vars.POKEMON_DATA_URL }}
          GAME_MASTER_URL: ${{ vars.GAME_MASTER_URL }}
      - name: Update Pokemon data
        run: node ./scripts/gameMasterParser.js
      - name: Check data diff
        id: check_diff
        run: git diff --exit-code ./public/pokemons.tsv
        continue-on-error: true
      - name: Install dependencies
        if: steps.check_diff.outcome != 'success'
        run: npm ci
      - name: Install Playwright Browsers
        if: steps.check_diff.outcome != 'success'
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        if: steps.check_diff.outcome != 'success'
        run: npx playwright test
      - name: Push new data
        if: steps.check_diff.outcome != 'success'
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git add ./public/pokemons.tsv
          git commit -m "chore: data update"
          git pull
          git push
